Repository milvus-io/milvus, pull requests merged in 2021-06, with the labels that each got.

#5515 Add metrics for master
  internal/masterservice/master_service.go
  internal/masterservice/proxy_node_manager.go
  internal/masterservice/timeticksync.go
  internal/metrics/metrics.go
  internal/util/tsoutil/tso.go
Labels: approved, ci-passed, lgtm, size/L

#5518 Load variables into shell scripts
  build/ci/jenkins/Jenkinsfile
  build/ci/jenkins/pod/krte.yaml
  scripts/install_deps.sh
Labels: approved, ci-passed, lgtm, size/XS

#5523 Add dataservice metrics with grpc prometheus middleware
  go.mod
  internal/dataservice/cluster_data_manager.go
  internal/distributed/dataservice/service.go
  internal/metrics/metrics.go
Labels: approved, ci-passed, component/dataservice, lgtm, size/M

#5524 Add implementation of getMinTsStatistics function
  internal/proxynode/channels_time_ticker.go
Labels: approved, ci-passed, kind/bug, lgtm, size/XS

#5526 Fix queryservice connect error
  internal/distributed/queryservice/client/client.go
Labels: approved, ci-passed, lgtm, size/XS

#5517 Add test cases of connection
  tests20/python_client/base/client_request.py
  tests20/python_client/base/collection.py
  tests20/python_client/base/connections.py
  tests20/python_client/base/index.py
  tests20/python_client/base/partition.py
  tests20/python_client/base/utility.py
  tests20/python_client/check/func_check.py
  tests20/python_client/common/common_type.py
  tests20/python_client/pytest.ini
  tests20/python_client/testcases/test_connection.py
Labels: approved, ci-passed, lgtm, size/L

#5538 refactor datanode flowgraph
  go.mod
  internal/datanode/data_node.go
  internal/datanode/data_sync_service.go
  internal/datanode/flow_graph_dd_node.go
  internal/datanode/flow_graph_dd_node_test.go
  internal/datanode/flow_graph_dmstream_input_node.go
  internal/datanode/flow_graph_filter_dm_node.go
  internal/datanode/flow_graph_gc_node.go
  internal/datanode/flow_graph_insert_buffer_node.go
  internal/datanode/flow_graph_insert_buffer_node_test.go
  internal/datanode/flow_graph_message.go
Labels: approved, ci-passed, lgtm, size/XXL

#5531 Fix retrieve_service
  internal/msgstream/repack_func.go
  internal/proxynode/task_scheduler.go
  internal/querynode/impl.go
  internal/querynode/retrieve_collection.go
  internal/querynode/retrieve_service.go
Labels: approved, ci-passed, lgtm, size/M

#5542 [skip ci] Update codes of connection
  tests20/python_client/base/client_request.py
  tests20/python_client/base/collection.py
  tests20/python_client/base/connections.py
  tests20/python_client/base/index.py
  tests20/python_client/base/partition.py
  tests20/python_client/base/utility.py
  tests20/python_client/check/func_check.py
  tests20/python_client/config/test_info.py
  tests20/python_client/testcases/test_connection.py
  tests20/python_client/utils/util_log.py
Labels: approved, ci-passed, lgtm, size/L

#5540 Support data segment channel seek to the break point when system start
  internal/masterservice/master_service.go
  internal/masterservice/master_service_test.go
  internal/masterservice/meta_table.go
  internal/masterservice/util.go
Labels: approved, ci-passed, kind/feature, lgtm, size/L

#5557 Fix bug: search timeout
  internal/datanode/data_node.go
  internal/distributed/datanode/client/client.go
  internal/distributed/datanode/service.go
  internal/distributed/dataservice/client/client.go
  internal/distributed/proxynode/client/client.go
  internal/distributed/proxynode/service.go
  internal/indexnode/index_query.go
  internal/proxynode/proxy_node.go
  internal/proxynode/task.go
  internal/querynode/impl.go
  internal/querynode/query_node.go
  internal/querynode/search_service.go
  internal/queryservice/impl.go
  internal/queryservice/queryservice.go
  scripts/start.sh
  scripts/stop.sh
Labels: approved, ci-passed, kind/bug, lgtm, size/L

#5560 Support column-based insert request in proxy
  go.sum
  internal/core/src/pb/milvus.pb.cc
  internal/core/src/pb/milvus.pb.h
  internal/proto/milvus.proto
  internal/proto/milvuspb/milvus.pb.go
  internal/proxynode/impl.go
  internal/proxynode/task.go
  tests/python_test/requirements.txt
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/XL

#5562 Add design for datanode flowgraph recovery
  docs/design_docs/datanode_flowgraph_recovery_design_0604_2021.md
  docs/design_docs/graphs/flowgraph_recovery_design.png
Labels: approved, ci-passed, lgtm, size/M

#5555 fix master service ut
  internal/masterservice/master_service_test.go
  internal/util/mqclient/pulsar_client.go
Labels: approved, ci-passed, component/master, lgtm, size/M

#5551 Change SaveBinLogPath proto & func
  internal/dataservice/grpc_services.go
  internal/dataservice/server_test.go
  internal/proto/data_service.proto
  internal/proto/datapb/data_service.pb.go
Labels: ci-passed, component/dataservice, size/L

#5573 Fix masterservice ut and minio watch ut stucked
  internal/kv/minio/minio_stats_wacher_test.go
  internal/masterservice/master_service_test.go
Labels: approved, ci-passed, lgtm, size/S

#5568 loose limitation of index_file_size
  core/src/utils/ValidationUtil.cpp
Labels: approved, ci-passed, lgtm, size/XS

#5556 Get address from etcd rather than env
  internal/allocator/id.go
  internal/datanode/data_node.go
  internal/dataservice/server.go
  internal/distributed/datanode/client/client.go
  internal/distributed/datanode/datanode_test.go
  internal/distributed/datanode/service.go
  internal/distributed/dataservice/client/client.go
  internal/distributed/dataservice/dataservice_test.go
  internal/distributed/dataservice/service.go
  internal/distributed/indexnode/client/client.go
  internal/distributed/indexnode/service.go
  internal/distributed/indexservice/client/client.go
  internal/distributed/masterservice/client/client.go
  internal/distributed/masterservice/masterservice_test.go
  internal/distributed/masterservice/server.go
  internal/distributed/proxynode/client/client.go
  internal/distributed/proxynode/service.go
  internal/distributed/querynode/client/client.go
  internal/distributed/querynode/service.go
  internal/distributed/queryservice/client/client.go
  internal/distributed/queryservice/service.go
  internal/indexservice/node_mgr.go
  internal/masterservice/master_service.go
  internal/proxynode/proxy_node.go
  internal/proxyservice/node_info.go
  internal/queryservice/impl.go
Labels: approved, ci-passed, lgtm, size/L

#5559 Rename SegmentAllocator to SegmentManager
  internal/dataservice/grpc_services.go
  internal/dataservice/meta_test.go
  internal/dataservice/segment_allocation_policy.go
  internal/dataservice/segment_allocation_stats.go
  internal/dataservice/segment_manager.go
  internal/dataservice/segment_manager_test.go
  internal/dataservice/server.go
  internal/dataservice/server_test.go
Labels: approved, ci-passed, lgtm, size/XL

#5567 Support to show collections which are loaded into memory
  internal/core/src/pb/milvus.pb.cc
  internal/core/src/pb/milvus.pb.h
  internal/masterservice/master_service.go
  internal/masterservice/meta_table.go
  internal/masterservice/meta_table_test.go
  internal/masterservice/task.go
  internal/proto/milvus.proto
  internal/proto/milvuspb/milvus.pb.go
  internal/proxynode/impl.go
  internal/proxynode/task.go
Labels: approved, ci-passed, lgtm, size/XXL

#5575 Fix retrieve_collection bugs
  internal/proxynode/task.go
  internal/querynode/retrieve_collection.go
Labels: approved, ci-passed, kind/bug, lgtm, size/M

#5578 Update DataNode recovery design
  docs/design_docs/datanode_recovery_design_0513_2021.md
Labels: approved, ci-passed, lgtm, size/M

#5572 Update pymilvus version
  tests/python_test/conftest.py
  tests/python_test/entity/test_insert.py
  tests/python_test/entity/test_search.py
  tests/python_test/requirements.txt
  tests/python_test/utils.py
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/S

#5552 Add test cases for collection search
  tests20/python_client/common/common_func.py
  tests20/python_client/common/common_type.py
  tests20/python_client/testcases/test_search.py
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/XL

#5561 Add retrieve process log
  internal/querynode/retrieve_collection.go
  internal/querynode/retrieve_service.go
Labels: approved, ci-passed, lgtm, size/L

#5583 Rename Milvus archived log files
  build/ci/jenkins/Jenkinsfile
Labels: approved, ci-passed, lgtm, size/XS

#5580 Update common code and test cases for partition
  tests20/python_client/base/client_request.py
  tests20/python_client/base/collection_wrapper.py
  tests20/python_client/base/connections_wrapper.py
  tests20/python_client/base/index_wrapper.py
  tests20/python_client/base/partition_wrapper.py
  tests20/python_client/base/utility_wrapper.py
  tests20/python_client/check/func_check.py
  tests20/python_client/common/common_type.py
  tests20/python_client/conftest.py
  tests20/python_client/testcases/test_collection.py
  tests20/python_client/testcases/test_connection.py
  tests20/python_client/testcases/test_index.py
  tests20/python_client/testcases/test_insert.py
  tests20/python_client/testcases/test_partition.py
  tests20/python_client/testcases/test_utility.py
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/XXL

#5577 Change WatchDmChannelsRequest proto
  internal/datanode/collection_replica.go
  internal/datanode/data_node.go
  internal/datanode/data_node_test.go
  internal/datanode/data_sync_service.go
  internal/datanode/data_sync_service_test.go
  internal/datanode/flow_graph_dmstream_input_node.go
  internal/datanode/mock_test.go
  internal/dataservice/cluster.go
  internal/proto/data_service.proto
  internal/proto/datapb/data_service.pb.go
Labels: ci-passed, component/datanode, component/dataservice, lgtm, size/L

#5579 Add Chaos tests
  tests20/chaos/README.md
  tests20/chaos/chaos_objects/chaos_datanode_podkill.yaml
  tests20/chaos/chaos_objects/chaos_querynode_podkill.yaml
  tests20/chaos/chaos_objects/testcases.yaml
  tests20/chaos/checker.py
  tests20/chaos/conftest.py
  tests20/chaos/pytest.ini
  tests20/chaos/test_chaos.py
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/L

#5563 Support GetEntityByIDs in CGo, fix segcore bugs
  go.mod
  internal/core/src/common/CGoHelper.h
  internal/core/src/common/Types.cpp
  internal/core/src/common/type_c.h
  internal/core/src/index/thirdparty/NGT/lib/NGT/ObjectSpace.h
  internal/core/src/index/thirdparty/NGT/lib/NGT/Optimizer.h
  internal/core/src/pb/plan.pb.cc
  internal/core/src/pb/plan.pb.h
  internal/core/src/query/Plan.cpp
  internal/core/src/query/Plan.h
  internal/core/src/query/PlanImpl.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/SegmentInterface.cpp
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/SegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentSealedImpl.h
  internal/core/src/segcore/plan_c.cpp
  internal/core/src/segcore/plan_c.h
  internal/core/src/segcore/segment_c.cpp
  internal/core/src/segcore/segment_c.h
  internal/core/unittest/test_get_entity_by_ids.cpp
  internal/indexnode/index_query.go
  internal/proto/cgo.proto
  internal/proto/plan.proto
  internal/proto/planpb/plan.pb.go
  internal/querynode/cgo_helper.go
  internal/querynode/cgo_helper_test.go
  internal/querynode/error_msg.go
  internal/querynode/plan.go
  internal/querynode/retrieve_collection.go
  internal/querynode/retrieve_collection_test.go
  internal/querynode/search_collection.go
  internal/querynode/segment.go
  internal/querynode/segment_test.go
Labels: approved, ci-passed, component/indexnode, kind/feature, lgtm, size/XXL

#5584 IVF_SQ8 and IVF_PQ cannot be built on multiple GPUs
  CHANGELOG.md
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIVF.cpp
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIVFPQ.cpp
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIVFSQ.cpp
Labels: approved, ci-passed, lgtm, size/S

#5592 Add query rpc into proto
  internal/core/src/pb/milvus.pb.cc
  internal/core/src/pb/milvus.pb.h
  internal/distributed/proxynode/service.go
  internal/proto/milvus.proto
  internal/proto/milvuspb/milvus.pb.go
  internal/proxynode/impl.go
Labels: approved, ci-passed, lgtm, size/XXL

#5595 [skip ci] interface name changed.
  tests20/python_client/testcases/test_search.py
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/M

#5597 Support to send dd msg to all dml channels
  internal/dataservice/server.go
  internal/distributed/masterservice/client/client.go
  internal/distributed/masterservice/masterservice_test.go
  internal/distributed/masterservice/server.go
  internal/masterservice/dml_channels.go
  internal/masterservice/master_service.go
  internal/masterservice/master_service_test.go
  internal/masterservice/meta_table.go
  internal/masterservice/param_table.go
  internal/masterservice/param_table_test.go
  internal/masterservice/task.go
  internal/masterservice/timestamp_test.go
  internal/masterservice/timeticksync.go
  internal/proto/master.proto
  internal/proto/masterpb/master.pb.go
  internal/types/types.go
Labels: approved, ci-passed, component/dataservice, component/master, kind/feature, lgtm, size/XL

#5606 Support master get segment info channel name from config file
  internal/distributed/masterservice/server.go
  internal/masterservice/master_service.go
  internal/masterservice/param_table.go
  internal/msgstream/mq_msgstream_test.go
Labels: approved, ci-passed, component/master, component/msgstream, kind/feature, lgtm, size/M

#5594 Add log to startup process
  internal/datanode/data_node.go
  internal/dataservice/server.go
  internal/distributed/datanode/client/client.go
  internal/distributed/datanode/service.go
  internal/distributed/dataservice/client/client.go
  internal/distributed/dataservice/service.go
  internal/distributed/indexnode/client/client.go
  internal/distributed/indexnode/service.go
  internal/distributed/indexservice/client/client.go
  internal/distributed/indexservice/service.go
  internal/distributed/masterservice/client/client.go
  internal/distributed/masterservice/server.go
  internal/distributed/proxynode/client/client.go
  internal/distributed/proxynode/service.go
  internal/distributed/proxyservice/client/client.go
  internal/distributed/proxyservice/service.go
  internal/distributed/querynode/client/client.go
  internal/distributed/querynode/service.go
  internal/distributed/queryservice/client/client.go
  internal/distributed/queryservice/service.go
  internal/indexnode/indexnode.go
  internal/indexservice/indexservice.go
  internal/indexservice/node_mgr.go
  internal/masterservice/master_service.go
  internal/proxynode/proxy_node.go
  internal/proxyservice/impl.go
  internal/proxyservice/node_info.go
  internal/proxyservice/proxyservice.go
  internal/querynode/query_node.go
  internal/queryservice/queryservice.go
Labels: approved, ci-passed, component/datanode, component/dataservice, component/indexnode, component/indexservice, component/master, lgtm, size/L

#5601 Add seek position to WatchDmChannels response
  internal/dataservice/binlog_helper.go
  internal/dataservice/cluster.go
  internal/dataservice/meta.go
  internal/proto/data_service.proto
  internal/proto/datapb/data_service.pb.go
Labels: ci-passed, component/dataservice, size/L

#5609 add auto flush for data node
  internal/datanode/collection_replica.go
  internal/datanode/data_node.go
  internal/datanode/data_node_test.go
  internal/datanode/data_sync_service.go
  internal/datanode/data_sync_service_test.go
  internal/datanode/flow_graph_insert_buffer_node.go
  internal/datanode/flow_graph_insert_buffer_node_test.go
Labels: approved, ci-passed, component/datanode, lgtm, size/L

#5605 Change receive msg logic
  internal/util/mqclient/pulsar_client.go
  internal/util/mqclient/pulsar_consumer.go
  internal/util/mqclient/rmq_client.go
  internal/util/mqclient/rmq_consumer.go
  internal/util/rocksmq/client/rocksmq/client_impl.go
Labels: approved, ci-passed, lgtm, size/M

#5612 Discard old build in jenkins pipeline job
  build/ci/jenkins/Jenkinsfile
Labels: approved, ci-passed, lgtm, size/XS

#5608 Enable case
  tests/milvus_python_test/entity/test_delete.py
Labels: approved, size/XS

#5613 Regress collection and insert issues
  tests20/python_client/base/collection_wrapper.py
  tests20/python_client/requirements.txt
  tests20/python_client/testcases/test_collection.py
  tests20/python_client/testcases/test_insert.py
  tests20/python_client/utils/util_log.py
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/L

#5604 Fix wrong primary key
  internal/core/src/segcore/SegmentGrowingImpl.cpp
Labels: approved, ci-passed, lgtm, size/S

#5618 data node, save binlog to minIO, and let data service save these meta
  internal/datanode/data_sync_service.go
  internal/datanode/flow_graph_insert_buffer_node.go
Labels: approved, ci-passed, component/datanode, lgtm, size/M

#5620 Cleanup artifacts directory
  build/ci/jenkins/Jenkinsfile
Labels: approved, ci-passed, lgtm, size/XS

#5615 modify the version to 1.1.1
  CHANGELOG.md
  core/CMakeLists.txt
  tests/milvus_python_test/test_ping.py
Labels: approved, lgtm, size/XS

#5621 [skip ci] Refactor function names
  tests20/chaos/test_chaos.py
  tests20/python_client/base/api_request.py
  tests20/python_client/base/client_base.py
  tests20/python_client/base/collection_wrapper.py
  tests20/python_client/base/connections_wrapper.py
  tests20/python_client/base/index_wrapper.py
  tests20/python_client/base/partition_wrapper.py
  tests20/python_client/base/utility_wrapper.py
  tests20/python_client/check/func_check.py
  tests20/python_client/testcases/test_collection.py
  tests20/python_client/testcases/test_connection.py
  tests20/python_client/testcases/test_index.py
  tests20/python_client/testcases/test_insert.py
  tests20/python_client/testcases/test_params.py
  tests20/python_client/testcases/test_partition.py
  tests20/python_client/testcases/test_schema.py
  tests20/python_client/testcases/test_search.py
  tests20/python_client/testcases/test_utility.py
Labels: approved, area/test, ci-passed, lgtm, sdk/python, sig/testing, size/XL

#5623 Fix retrieve when output_fields is nil
  internal/proxynode/task.go
Labels: approved, ci-passed, lgtm, size/S

#5616 Check dsl whether is None
  internal/proxynode/plan_parser.go
  internal/proxynode/plan_parser_test.go
  internal/proxynode/task.go
Labels: approved, ci-passed, lgtm, size/S

#5627 Add log for poxynode transform data and querynode segment insert
  internal/datanode/flow_graph_insert_buffer_node.go
  internal/proxynode/task.go
  internal/querynode/flow_graph_insert_node.go
  internal/querynode/impl.go
  internal/querynode/segment.go
Labels: approved, ci-passed, component/datanode, lgtm, size/M

#5628 index created by std::make_shared
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIVF.cpp
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIVFPQ.cpp
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIVFSQ.cpp
  core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexIVFSQHybrid.cpp
Labels: approved, lgtm, size/M

#5624 IVF_SQ8 and IVF_PQ cannot be built on multiple GPUs
  internal/core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIVF.cpp
  internal/core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIVFPQ.cpp
  internal/core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexGPUIVFSQ.cpp
  internal/core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexIVFSQHybrid.cpp
  internal/core/src/index/knowhere/knowhere/index/vector_index/gpu/IndexIVFSQHybrid.h
Labels: approved, ci-passed, lgtm, size/M

#5630 fix bug and add unit test for insert buffer
  internal/datanode/collection_replica.go
  internal/datanode/flow_graph_insert_buffer_node.go
  internal/datanode/flow_graph_insert_buffer_node_test.go
Labels: approved, ci-passed, component/datanode, lgtm, size/L

#5632 fix insertBuffer node
  internal/datanode/collection_replica.go
  internal/datanode/flow_graph_insert_buffer_node.go
  internal/datanode/flow_graph_insert_buffer_node_test.go
Labels: approved, ci-passed, component/datanode, lgtm, size/L

#5633 Fixbug:index is not loaded in some cases
  internal/indexnode/indexnode.go
  internal/indexnode/task.go
  internal/indexnode/task_scheduler.go
  internal/indexservice/indexservice.go
  internal/indexservice/meta_table.go
  internal/indexservice/util.go
  internal/masterservice/master_service.go
  internal/masterservice/task.go
  internal/querynode/index_loader.go
  internal/querynode/load_service.go
Labels: approved, ci-passed, component/indexnode, component/indexservice, component/master, lgtm, size/L

#5635 fix datanode
  internal/datanode/data_sync_service.go
  internal/datanode/flow_graph_insert_buffer_node.go
  internal/datanode/flow_graph_insert_buffer_node_test.go
Labels: approved, ci-passed, component/datanode, lgtm, size/L

#5629 Add GetRecoveryInfo in dataservice
  internal/dataservice/binlog_helper.go
  internal/dataservice/cluster.go
  internal/dataservice/datanode_helper.go
  internal/dataservice/grpc_services.go
  internal/dataservice/mock_test.go
  internal/dataservice/param.go
  internal/dataservice/server_test.go
  internal/distributed/dataservice/client/client.go
  internal/distributed/dataservice/service.go
  internal/proto/data_service.proto
  internal/proto/datapb/data_service.pb.go
  internal/types/types.go
Labels: approved, ci-passed, component/dataservice, lgtm, size/XL

#5638 Destroy DataNode when drop collections
  docs/design_docs/datanode_ddl_flush_design_0519_2021.md
  go.mod
  internal/datanode/data_node.go
  internal/datanode/data_node_test.go
  internal/datanode/data_sync_service.go
  internal/datanode/data_sync_service_test.go
  internal/datanode/flow_graph_dd_node.go
  internal/datanode/mock_test.go
Labels: approved, ci-passed, component/datanode, lgtm, size/L

#5622 Add flush monitor and unit test
  internal/dataservice/flush_monitor.go
  internal/dataservice/flush_monitor_test.go
Labels: ci-passed, component/dataservice, size/L

#5641 Use ElementsMatch to test slice equality
  internal/dataservice/server_test.go
Labels: approved, ci-passed, component/dataservice, lgtm, size/XS

#5642 refactor wrappers
  tests20/chaos/checker.py
  tests20/chaos/test_chaos.py
  tests20/python_client/base/client_base.py
  tests20/python_client/base/collection_wrapper.py
  tests20/python_client/base/connections_wrapper.py
  tests20/python_client/base/index_wrapper.py
  tests20/python_client/base/partition_wrapper.py
  tests20/python_client/base/utility_wrapper.py
  tests20/python_client/check/func_check.py
  tests20/python_client/common/common_type.py
  tests20/python_client/pytest.ini
  tests20/python_client/testcases/test_collection.py
  tests20/python_client/testcases/test_connection.py
  tests20/python_client/testcases/test_partition.py
  tests20/python_client/testcases/test_utility.py
  tests20/python_client/utils/api_request.py
Labels: approved, area/test, ci-passed, lgtm, sdk/python, sig/testing, size/XL

#5639 Add segment info rand logic in test case
  internal/masterservice/master_service_test.go
Labels: approved, ci-passed, component/master, lgtm, size/XS

#5640 Flowgraph recovery
  internal/datanode/data_node.go
  internal/datanode/data_sync_service.go
  internal/datanode/flow_graph_dd_node.go
  internal/datanode/flow_graph_dmstream_input_node.go
  internal/datanode/mock_test.go
Labels: approved, ci-passed, component/datanode, lgtm, size/L

#5643 [skip ci] Update the name to init_collection
  tests20/chaos/checker.py
  tests20/chaos/test_chaos.py
  tests20/python_client/base/client_base.py
  tests20/python_client/base/collection_wrapper.py
  tests20/python_client/testcases/test_collection.py
  tests20/python_client/testcases/test_index.py
  tests20/python_client/testcases/test_partition.py
  tests20/python_client/testcases/test_search.py
  tests20/python_client/testcases/test_utility.py
Labels: approved, area/test, ci-passed, lgtm, sdk/python, sig/testing, size/L

#5598 Add GetRecoveryInfo interface and proto
  internal/dataservice/server.go
  internal/distributed/dataservice/client/client.go
  internal/distributed/dataservice/service.go
  internal/proto/data_service.proto
  internal/proto/datapb/data_service.pb.go
  internal/types/types.go
Labels: approved, ci-passed, component/dataservice, lgtm, size/XL

#5634 Add Cron job jenkins pipeline
  build/ci/jenkins/Jenkinsfile
  build/ci/jenkins/NightlyCI.groovy
  build/kind_provisioner.sh
Labels: approved, ci-passed, lgtm, size/L

#5645 Update code for test log
  tests20/python_client/check/func_check.py
  tests20/python_client/common/code_mapping.py
  tests20/python_client/common/common_func.py
  tests20/python_client/config/test_info.py
  tests20/python_client/conftest.py
  tests20/python_client/pytest.ini
  tests20/python_client/testcases/test_connection.py
  tests20/python_client/testcases/test_params.py
  tests20/python_client/testcases/test_template.py
  tests20/python_client/utils/api_request.py
  tests20/python_client/utils/util_log.py
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/L

#5648 Reset log path
  tests20/python_client/config/test_info.py
  tests20/python_client/pytest.ini
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/XS

#5647 [skip ci] Automatically detect [cronjob] messages in your last commit
  build/ci/jenkins/NightlyCI.groovy
Labels: approved, ci-passed, lgtm, size/XS

#5650 [skip ci] Update code of test_info
  tests20/python_client/check/func_check.py
  tests20/python_client/config/test_info.py
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/S

#5649 [skip ci] Update check_items for ResponseChecker
  tests20/python_client/base/client_base.py
  tests20/python_client/base/collection_wrapper.py
  tests20/python_client/base/partition_wrapper.py
  tests20/python_client/check/func_check.py
  tests20/python_client/testcases/test_partition.py
Labels: approved, area/test, ci-passed, lgtm, sdk/python, sig/testing, size/L

#5644 Add Query impl in proxynode
  internal/core/src/pb/plan.pb.cc
  internal/core/src/pb/plan.pb.h
  internal/proto/plan.proto
  internal/proto/planpb/plan.pb.go
  internal/proxynode/impl.go
  internal/proxynode/plan_parser.go
Labels: approved, ci-passed, lgtm, size/L

#5651 Jenkins sending email on post build
  build/ci/jenkins/Jenkinsfile
  build/ci/jenkins/NightlyCI.groovy
Labels: approved, ci-passed, lgtm, size/S

#5657 Update pytest docker compose file
  tests/docker/.env
  tests/docker/docker-compose.yml
  tests/scripts/e2e.sh
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/S

#5656 [skip ci] update partition tests
  tests20/python_client/base/client_base.py
  tests20/python_client/base/connections_wrapper.py
  tests20/python_client/check/func_check.py
  tests20/python_client/common/common_func.py
  tests20/python_client/testcases/test_connection.py
  tests20/python_client/testcases/test_partition.py
Labels: approved, area/test, ci-passed, lgtm, sdk/python, sig/testing, size/L

#5658 [skip ci] modify branch name in install.md
  INSTALL.md
Labels: approved, ci-passed, lgtm, size/XS

#5659 Add input parameters for clearing log files
  tests20/python_client/base/client_base.py
  tests20/python_client/common/common_func.py
  tests20/python_client/config/test_info.py
  tests20/python_client/conftest.py
  tests20/python_client/testcases/test_connection.py
  tests20/python_client/utils/api_request.py
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/M

#5665 Add field_name and type in retrieve result
  internal/proxynode/task.go
Labels: approved, ci-passed, kind/feature, kind/improvement, lgtm, size/S

#5668 combine requirements with pymilvus-orm tests
  tests/python_test/requirements.txt
  tests20/python_client/requirements.txt
Labels: approved, area/test, ci-passed, lgtm, sdk/python, sig/testing, size/S

#5677 Update collection case for error check
  tests20/python_client/base/client_base.py
  tests20/python_client/base/schema_wrapper.py
  tests20/python_client/check/func_check.py
  tests20/python_client/common/common_func.py
  tests20/python_client/common/common_type.py
  tests20/python_client/testcases/test_collection.py
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/XL

#5682 Refactor flow graph and load/watchDML in query node
  internal/proxynode/impl.go
  internal/querynode/collection.go
  internal/querynode/collection_replica.go
  internal/querynode/data_sync_service.go
  internal/querynode/data_sync_service_test.go
  internal/querynode/flow_graph_dd_node.go
  internal/querynode/flow_graph_filter_dm_node.go
  internal/querynode/flow_graph_gc_node.go
  internal/querynode/flow_graph_insert_node.go
  internal/querynode/flow_graph_msg_stream_input_nodes.go
  internal/querynode/flow_graph_query_node.go
  internal/querynode/flow_graph_service_time_node.go
  internal/querynode/load_index_info.go
  internal/querynode/plan.go
  internal/querynode/query_node.go
  internal/querynode/query_node_test.go
  internal/querynode/retrieve_collection.go
  internal/querynode/retrieve_service.go
  internal/querynode/search_collection.go
  internal/querynode/search_service.go
  internal/querynode/search_service_test.go
  internal/querynode/segment.go
  internal/querynode/streaming.go
  internal/querynode/task.go
  internal/querynode/tsafe.go
  internal/querynode/tsafe_replica.go
  internal/querynode/type_def.go
  internal/util/flowgraph/node.go
Labels: approved, ci-passed, kind/feature, lgtm

#5681 [cronjob] Change jenkins cronjob trigger mode
  build/ci/jenkins/NightlyCI.groovy
Labels: approved, lgtm, size/XS

#5686 fix proxy node
  internal/proxynode/timestamp.go
Labels: approved, ci-passed, lgtm, size/XS

#5661 [skip ci] Update case
  tests20/python_client/base/index_wrapper.py
  tests20/python_client/base/utility_wrapper.py
  tests20/python_client/common/common_func.py
  tests20/python_client/common/common_type.py
  tests20/python_client/testcases/test_index.py
  tests20/python_client/testcases/test_utility.py
  tests20/python_client/utils/api_request.py
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/L

#5669 loose limitation of index_file_size
  core/src/db/merge/MergeLayeredStrategy.cpp
Labels: approved, size/XS

#5687 Add dataservice state check
  internal/dataservice/grpc_services.go
Labels: approved, ci-passed, component/dataservice, lgtm, size/S

#5688 Update collection property check
  tests20/python_client/check/func_check.py
  tests20/python_client/testcases/test_collection.py
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/L

#5689 fix ttmsgstream
  internal/msgstream/mq_msgstream.go
  internal/msgstream/mq_msgstream_test.go
  internal/querynode/task.go
Labels: approved, ci-passed, component/msgstream, lgtm, size/M

#5685 refaceor ttest_infor to log_config
  tests/python_test/requirements.txt
  tests20/chaos/chaos_objects/testcases.yaml
  tests20/chaos/checker.py
  tests20/python_client/base/client_base.py
  tests20/python_client/config/log_config.py
  tests20/python_client/pytest.ini
  tests20/python_client/requirements.txt
  tests20/python_client/testcases/test_partition.py
  tests20/python_client/utils/api_request.py
  tests20/python_client/utils/util_log.py
Labels: approved, area/test, ci-passed, lgtm, sdk/python, sig/testing, size/L

#5690 fix datanode dropcollection error
  internal/datanode/data_node.go
  internal/datanode/data_sync_service.go
  internal/datanode/flow_graph_dd_node.go
  internal/datanode/flow_graph_insert_buffer_node.go
  internal/dataservice/server.go
Labels: approved, ci-passed, component/datanode, component/dataservice, lgtm, size/S

#5691 Add vchannel buffer for cluster
  internal/dataservice/cluster.go
  internal/dataservice/cluster_data_manager.go
  internal/dataservice/cluster_test.go
  internal/dataservice/mock_test.go
  internal/dataservice/policy.go
  internal/dataservice/policy_test.go
Labels: approved, ci-passed, component/dataservice, lgtm, size/L

#5695 modify error/warning message
  core/src/db/meta/SqliteMetaImpl.cpp
  core/src/server/DBWrapper.cpp
  core/src/server/Server.cpp
Labels: approved, size/M

#5694 Stop indexnode when milvus process stops
  cmd/distributed/roles/roles.go
Labels: approved, ci-passed, lgtm, size/XS

#5699 Fix unregister node info has no channel
  internal/dataservice/cluster.go
  internal/dataservice/cluster_data_manager.go
Labels: approved, ci-passed, component/dataservice, lgtm, size/S

#5692 [skip ci]Add query_boolean_expr docs
  docs/design_docs/query_boolean_expr.md
Labels: approved, ci-passed, lgtm, size/M

#5700 update insert cases for error check
  tests20/python_client/testcases/test_collection.py
  tests20/python_client/testcases/test_insert.py
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/L

#5683 Update the bloom filter by renaming a temporary file
  core/src/codecs/default/DefaultDeletedDocsFormat.cpp
  core/src/codecs/default/DefaultIdBloomFilterFormat.cpp
  core/src/codecs/default/DefaultVectorIndexFormat.cpp
  core/src/codecs/default/DefaultVectorsFormat.cpp
Labels: approved, size/M

#5678 [skip ci] Update test case.
  tests20/python_client/base/client_base.py
  tests20/python_client/base/collection_wrapper.py
  tests20/python_client/check/func_check.py
  tests20/python_client/common/common_func.py
  tests20/python_client/common/common_type.py
  tests20/python_client/testcases/test_search.py
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/XL

#5710 Change default unregister policy
  internal/dataservice/cluster.go
  internal/dataservice/server.go
  internal/distributed/datanode/client/client.go
  internal/distributed/indexnode/client/client.go
  internal/distributed/querynode/client/client.go
Labels: approved, component/dataservice, lgtm, size/XS

#5707 clean code
  core/src/context/HybridSearchContext.h
  core/src/db/DB.h
  core/src/db/DBImpl.cpp
  core/src/db/DBImpl.h
  core/src/db/meta/Meta.h
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/db/meta/MySQLMetaImpl.h
  core/src/db/meta/SqliteMetaImpl.cpp
  core/src/db/meta/SqliteMetaImpl.h
  core/src/server/delivery/RequestHandler.h
  core/src/server/delivery/request/BaseRequest.cpp
  core/src/server/delivery/request/BaseRequest.h
  core/src/server/grpc_impl/GrpcRequestHandler.cpp
  core/unittest/db/test_meta.cpp
  core/unittest/db/test_meta_mysql.cpp
  core/unittest/server/test_rpc.cpp
  core/unittest/server/test_web.cpp
Labels: approved, size/XXL

#5711 [skip ci] Fix bug: tick timestamp always zero
  internal/proxynode/channels_time_ticker.go
Labels: approved, lgtm, size/S

#5706 Add asConsumer before seek
  internal/querynode/flow_graph_query_node.go
  internal/querynode/task.go
  internal/queryservice/task.go
Labels: approved, lgtm, size/S

#5709 Fix query hang bug
  internal/proxynode/impl.go
  internal/querynode/retrieve_collection.go
Labels: approved, ci-passed, kind/bug, lgtm

#5713 [skip ci] Fix bug: concurrent map read and map write
  internal/proxynode/channels_time_ticker.go
Labels: approved, lgtm, size/XS

#5715 [cronjob] Update periodically scheduled tasks to "50 22 * * *"
  build/ci/jenkins/NightlyCI.groovy
Labels: approved, ci-passed, lgtm, size/M

#5718 [skip ci] fix mishards typo
  shards/all_in_one/all_in_one.yml
  shards/all_in_one_with_mysql/all_in_one.yml
Labels: size/S

#5721 Fix send email bug on jenkins pipeline failure
  build/ci/jenkins/Jenkinsfile
Labels: approved, ci-passed, lgtm, size/XS

#5708 add test cases for index_file_size
  ci/jenkins/Jenkinsfile
  tests/milvus_python_test/collection/test_collection.py
  tests/milvus_python_test/entity/test_delete.py
  tests/milvus_python_test/test_config.py
Labels: approved, lgtm, size/M

#5722 Add publish milvus images jenkins pipeline
  build/build_image.sh
  build/builder.sh
  build/ci/jenkins/PublishImages.groovy
  tests/scripts/e2e-k8s.sh
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/M

#5729 [skip ci]add timerecord for debug
  internal/util/timerecord/time_recorder.go
Labels: approved, lgtm, size/M

#5724 Even if the bloom filter is destroyed, it can get entity by ID
  core/src/db/DBImpl.cpp
  core/src/segment/IdBloomFilter.cpp
  core/src/segment/IdBloomFilter.h
  core/unittest/db/test_db.cpp
  core/unittest/db/test_search_by_id.cpp
Labels: approved, size/M

#5732 Add test cases of connection interface
  tests20/python_client/base/client_base.py
  tests20/python_client/base/connections_wrapper.py
  tests20/python_client/check/func_check.py
  tests20/python_client/check/param_check.py
  tests20/python_client/common/common_type.py
  tests20/python_client/conftest.py
  tests20/python_client/testcases/test_connection.py
  tests20/python_client/utils/api_request.py
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/XL

#5726 fix seek on pulsar msgstream
  internal/msgstream/mq_msgstream_test.go
  internal/util/mqclient/pulsar_client.go
  internal/util/mqclient/pulsar_client_test.go
  internal/util/mqclient/pulsar_consumer.go
Labels: approved, component/msgstream, size/L

#5727 fix retrieve bug
  internal/core/src/segcore/ScalarIndex.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/SegmentInterface.cpp
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/SegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentSealedImpl.h
  internal/core/src/segcore/segment_c.cpp
Labels: approved, ci-passed, lgtm, size/M

#5733 fix double messages bug in datanode recovery
  internal/datanode/data_node.go
  internal/datanode/data_sync_service.go
  internal/datanode/flow_graph_dd_node.go
  internal/datanode/flow_graph_insert_buffer_node.go
Labels: approved, component/datanode, lgtm, size/M

#5735 [skip ci] Fix bug: Search timeout and refactor client init logic
  internal/distributed/datanode/client/client.go
  internal/distributed/dataservice/client/client.go
  internal/distributed/indexnode/client/client.go
  internal/distributed/indexservice/client/client.go
  internal/distributed/masterservice/client/client.go
  internal/distributed/proxynode/client/client.go
  internal/distributed/querynode/client/client.go
  internal/distributed/queryservice/client/client.go
  internal/indexnode/indexnode.go
  internal/indexservice/indexservice.go
  internal/proxynode/impl.go
  internal/proxynode/proxy_node.go
  internal/proxynode/task.go
  internal/proxynode/task_scheduler.go
  internal/proxyservice/impl.go
  internal/querynode/flow_graph_service_time_node.go
  internal/querynode/search_collection.go
  internal/querynode/task.go
Labels: approved, component/indexnode, component/indexservice, lgtm, size/L

#5728 update partition cases for fixed bug
  tests20/python_client/common/common_func.py
  tests20/python_client/testcases/test_partition.py
  tests20/python_client/utils/api_request.py
Labels: approved, area/test, ci-passed, lgtm, sdk/python, sig/testing, size/M

#5736 Fix dd node filter bug
  internal/datanode/flow_graph_dd_node.go
Labels: approved, component/datanode, lgtm, size/XS

#5738 [skip ci] Remove ProxyService
  Makefile
  build/ci/jenkins/Jenkinsfile
  build/ci/jenkins/NightlyCI.groovy
  cmd/distributed/components/proxy_service.go
  cmd/distributed/main.go
  cmd/distributed/roles/roles.go
  cmd/standalone/main.go
  deployments/docker/distributed/docker-compose.yml
  internal/distributed/masterservice/masterservice_test.go
  internal/distributed/masterservice/param_table.go
  internal/distributed/masterservice/param_table_test.go
  internal/distributed/proxynode/paramtable.go
  internal/distributed/proxynode/service.go
  internal/distributed/proxyservice/client/client.go
  internal/distributed/proxyservice/paramtable.go
  internal/distributed/proxyservice/service.go
  internal/masterservice/timestamp_test.go
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
  internal/proto/proxy_service.proto
  internal/proto/proxypb/proxy_service.pb.go
  internal/proxynode/paramtable.go
  internal/proxynode/proxy_node.go
  internal/proxyservice/OWNERS
  internal/proxyservice/impl.go
  internal/proxyservice/node_info.go
  internal/proxyservice/node_info_test.go
  internal/proxyservice/nodeid_allocator.go
  internal/proxyservice/nodeid_allocator_test.go
  internal/proxyservice/paramtable.go
  internal/proxyservice/paramtable_test.go
  internal/proxyservice/proxyservice.go
  internal/proxyservice/task.go
  internal/proxyservice/task_mock.go
  internal/proxyservice/task_queue.go
  internal/proxyservice/task_queue_test.go
  internal/proxyservice/task_scheduler.go
  internal/proxyservice/task_scheduler_test.go
  internal/proxyservice/timetick.go
  internal/proxyservice/timetick_test.go
  internal/types/types.go
  internal/util/typeutil/type.go
  scripts/run_docker.sh
  scripts/start.sh
Labels: approved, component/master, lgtm, size/XXL

#5742 Fix bug: describe_collection not return fail reason
  internal/proxynode/task.go
Labels: approved, lgtm, size/M

#5737 add case for max length search result
  tests/milvus_python_test/entity/test_search.py
Labels: approved, lgtm, size/S

#5734 add BroadcastMany, send DdMsg to collection channels only
  internal/distributed/masterservice/masterservice_test.go
  internal/masterservice/dml_channels.go
  internal/masterservice/master_service.go
  internal/masterservice/master_service_test.go
  internal/masterservice/task.go
  internal/masterservice/timeticksync.go
Labels: area/test, component/dataservice, component/master, sig/testing, size/L

#5740 Load nodes when indexservices started
  internal/indexservice/indexservice.go
  internal/indexservice/node_mgr.go
Labels: component/indexservice, size/S

#5719 Remove indexnode in indexservice when indexnode crashed
  internal/indexservice/indexservice.go
  internal/indexservice/meta_table.go
  internal/indexservice/node_mgr.go
Labels: component/indexservice, size/S

#5741 fix bug of "not in" expression
  internal/proxynode/plan_parser.go
  internal/proxynode/plan_parser_test.go
Labels: approved, ci-passed, lgtm, size/XS

#5748 fix #5747 #5115
  core/src/index/knowhere/knowhere/index/vector_index/ConfAdapter.cpp
  core/src/server/Server.cpp
  core/src/server/delivery/request/SearchRequest.cpp
  core/src/utils/ValidationUtil.cpp
  core/src/utils/ValidationUtil.h
  core/unittest/server/test_util.cpp
  tests/milvus_python_test/entity/test_search.py
Labels: approved

#5760 Refactor proxy channelTimeTick and fix search timeout
  internal/distributed/indexservice/client/client.go
  internal/distributed/indexservice/service.go
  internal/indexnode/indexnode.go
  internal/indexnode/task.go
  internal/masterservice/task.go
  internal/masterservice/timeticksync.go
  internal/proxynode/channels_time_ticker.go
  internal/proxynode/channels_time_ticker_test.go
  internal/proxynode/proxy_node.go
  internal/proxynode/task.go
  internal/proxynode/task_scheduler.go
  internal/querynode/search_collection.go
  internal/util/sessionutil/session_util.go
  tests/python_test/collection/test_load_collection.py
Labels: approved, area/test, component/indexnode, component/master, sig/testing, size/XL

#5750 Add segment and channel msgs in retrieve results
  internal/proto/internal.proto
  internal/proto/internalpb/internal.pb.go
  internal/proxynode/impl.go
  internal/proxynode/task.go
  internal/querynode/retrieve_collection.go
Labels: approved

#5705 Add waitgroup for starting server
  cmd/distributed/roles/roles.go
  internal/indexservice/node_mgr.go
Labels: approved, component/indexservice, size/M

#5753 Add start position in segment
  internal/dataservice/grpc_services.go
  internal/dataservice/meta.go
  internal/dataservice/segment_manager.go
  internal/dataservice/server_test.go
  internal/proto/data_service.proto
  internal/proto/datapb/data_service.pb.go
Labels: approved, component/dataservice, size/L

#5762 fix #5398
  CHANGELOG.md
  core/src/server/delivery/request/BaseRequest.cpp
  core/src/server/delivery/request/BaseRequest.h
Labels: approved, lgtm, size/S

#5767 Split segcore and plan proto for future feature
  internal/core/src/pb/CMakeLists.txt
  internal/core/src/pb/plan.pb.cc
  internal/core/src/pb/plan.pb.h
  internal/core/src/pb/segcore.pb.cc
  internal/core/src/pb/segcore.pb.h
  internal/core/src/query/Plan.cpp
  internal/core/src/query/Plan.h
  internal/core/src/segcore/SegmentInterface.cpp
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/plan_c.cpp
  internal/proto/cgo.proto
  internal/proto/plan.proto
  internal/proto/planpb/plan.pb.go
  internal/proto/segcore.proto
  internal/proto/segcorepb/segcore.pb.go
  internal/querynode/plan.go
  internal/querynode/retrieve_collection.go
  internal/querynode/retrieve_collection_test.go
  internal/querynode/segment.go
  internal/querynode/segment_test.go
  scripts/proto_gen_go.sh
Labels: approved, ci-passed, lgtm, size/XXL

#5768 Add test case for search with expressions
  tests20/python_client/base/client_base.py
  tests20/python_client/common/common_func.py
  tests20/python_client/testcases/test_search.py
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/M

#5765 bug fix and enable case
  tests20/python_client/testcases/test_index.py
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/XS

#5779 Fix memory leak in indexservice
  internal/indexservice/meta_table.go
Labels: approved, ci-passed, component/indexservice, lgtm, size/S

#5780 fix session util
  cmd/distributed/roles/roles.go
  internal/util/sessionutil/session_util.go
Labels: approved, ci-passed, lgtm, size/XS

#5782 Make pulsar client singleton
  internal/msgstream/mq_factory.go
  internal/msgstream/mq_msgstream.go
  internal/msgstream/mq_msgstream_test.go
  internal/util/mqclient/pulsar_client.go
  internal/util/mqclient/pulsar_client_test.go
Labels: approved, ci-passed, component/msgstream, lgtm, size/M

#5781 Add Unittest for allocator
  configs/advanced/data_node.yaml
  configs/milvus.yaml
  internal/datanode/allocator.go
  internal/datanode/allocator_test.go
  internal/datanode/collection_replica_test.go
  internal/datanode/mock_test.go
Labels: approved, ci-passed, component/datanode, lgtm, size/L

#5776 refine log
  core/src/db/DBImpl.cpp
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/db/meta/SqliteMetaImpl.cpp
  core/src/index/knowhere/knowhere/index/vector_index/helpers/FaissIO.cpp
  core/src/index/thirdparty/faiss/IndexIVF.cpp
  core/src/server/DBWrapper.cpp
Labels: approved, size/M

#5785 Modify GetRecoveryInfo logic
  internal/dataservice/binlog_helper.go
  internal/dataservice/cluster.go
  internal/dataservice/datanode_helper.go
  internal/dataservice/grpc_services.go
  internal/dataservice/server_test.go
Labels: approved, ci-passed, component/dataservice, lgtm, size/M

#5784 Add vChannel,pChannel in query node and get vChannel from master in query service
  internal/querynode/collection.go
  internal/querynode/collection_replica.go
  internal/querynode/data_sync_service.go
  internal/querynode/data_sync_service_test.go
  internal/querynode/flow_graph_query_node.go
  internal/querynode/flow_graph_service_time_node.go
  internal/querynode/retrieve_collection.go
  internal/querynode/search_collection.go
  internal/querynode/segment.go
  internal/querynode/streaming.go
  internal/querynode/task.go
  internal/querynode/tsafe.go
  internal/querynode/tsafe_replica.go
  internal/querynode/type_def.go
  internal/queryservice/task.go
Labels: ci-passed, lgtm, size/L

#5787 Fix retrieve_collection return nil vchannel
  internal/querynode/retrieve_collection.go
Labels: approved, ci-passed, size/XS

#5783 Optimize dml_channels
  internal/masterservice/dml_channels.go
  internal/masterservice/master_service.go
  internal/masterservice/timeticksync.go
Labels: approved, ci-passed, component/master, kind/enhancement, lgtm, size/L

#5790 Use dataservice's getRecoveryInfo to get load and watch info
  internal/proto/query_service.proto
  internal/proto/querypb/query_service.pb.go
  internal/querynode/collection_replica.go
  internal/querynode/flow_graph_filter_dm_node.go
  internal/querynode/segment_loader.go
  internal/querynode/task.go
  internal/queryservice/task.go
Labels: approved, ci-passed, lgtm, size/XL

#5794 Update test case for interface change
  tests20/python_client/base/collection_wrapper.py
  tests20/python_client/base/index_wrapper.py
  tests20/python_client/base/partition_wrapper.py
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/M

#5792 Add blob info
  internal/storage/data_codec.go
  internal/storage/data_codec_test.go
Labels: approved, ci-passed, lgtm, size/M

#5795 Fix channels in query node and fix search
  internal/querynode/search_collection.go
  internal/querynode/task.go
Labels: approved, ci-passed, lgtm, size/S

#5799 [skip ci] update mishards to 1.1.1
  shards/all_in_one/all_in_one.yml
  shards/all_in_one_with_mysql/all_in_one.yml
  shards/requirements.txt
Labels: approved, size/S

#5801 [skip ci] fix readme typo
  CHANGELOG.md
Labels: approved, size/XS

#5798 Release collection synchronously
  internal/querynode/task.go
Labels: approved, ci-passed, lgtm, size/XS
