Repository milvus-io/milvus, pull requests merged in 2021-07, with the labels that each got.

#6240 Modified pulsar maxMessageSize with docker compose
  deployments/docker/cluster/docker-compose.yml
  deployments/docker/dev/docker-compose.yml
Labels: approved, ci-passed, lgtm, size/S

#6230 Deprecate num_groups to simplify search API
  internal/core/bench/bench_search.cpp
  internal/core/src/segcore/SegmentInterface.cpp
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/segment_c.cpp
  internal/core/src/segcore/segment_c.h
  internal/core/unittest/test_c_api.cpp
  internal/core/unittest/test_query.cpp
  internal/core/unittest/test_sealed.cpp
  internal/querynode/segment.go
Labels: approved, ci-passed, lgtm, size/L

#6242 Update the milvus helm chart repo URL
  tests/scripts/e2e.sh
  tests/scripts/install_milvus.sh
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/M

#6244 add log when seek in msgstream
  internal/msgstream/mq_msgstream.go
Labels: approved, ci-passed, component/msgstream, lgtm, size/XS

#6241 stop add new node into cluster before validated
  internal/datacoord/cluster.go
  internal/datacoord/cluster_data_manager.go
  internal/datacoord/cluster_test.go
Labels: approved, ci-passed, component/datacoord, lgtm, size/L

#6247 add grpc interface to process NewSegment And FlushSegmentCompleted
  internal/datacoord/mock_test.go
  internal/distributed/rootcoord/client/client.go
  internal/distributed/rootcoord/service.go
  internal/proto/root_coord.proto
  internal/proto/rootcoordpb/root_coord.pb.go
  internal/rootcoord/root_coord.go
  internal/types/types.go
Labels: approved, ci-passed, component/datacoord, component/rootcoord, lgtm, size/L

#6233 Change default grpc retry config
  internal/distributed/datacoord/client/client.go
  internal/distributed/datanode/client/client.go
  internal/distributed/indexcoord/client/client.go
  internal/distributed/indexnode/client/client.go
  internal/distributed/proxy/client/client.go
  internal/distributed/querycoord/client/client.go
  internal/distributed/querynode/client/client.go
  internal/distributed/rootcoord/client/client.go
  internal/querycoord/task.go
Labels: approved, ci-passed, component/querycoord, lgtm, size/L

#6252 Set pulsar defaultRetentionTimeInMinutes parameter to 10080 with docker compose
  deployments/docker/cluster/docker-compose.yml
  deployments/docker/dev/docker-compose.yml
Labels: approved, lgtm, size/S

#6256 Optimize stop process logic
  cmd/main.go
Labels: size/S

#6219 Implement calculate vectors distance in server
  internal/core/src/pb/milvus.pb.cc
  internal/core/src/pb/milvus.pb.h
  internal/distributed/proxy/service.go
  internal/proto/milvus.proto
  internal/proto/milvuspb/milvus.pb.go
  internal/proxy/impl.go
  internal/util/distance/calc_distance.go
  internal/util/distance/calc_distance_test.go
Labels: approved, ci-passed, component/proxy, lgtm, size/XXL

#6260 Enable test case and adjust code
  tests20/python_client/base/client_base.py
  tests20/python_client/check/func_check.py
  tests20/python_client/testcases/test_search.py
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/L

#6258 Clear proxy searchMsgStream when releaseCollection
  internal/querycoord/impl.go
  internal/querycoord/task.go
  internal/querycoord/task_scheduler.go
Labels: approved, ci-passed, component/querycoord, lgtm, size/M

#6253 Add GetFlushedSegments in data coordinator
  internal/datacoord/grpc_services.go
  internal/datacoord/mock_test.go
  internal/datacoord/server.go
  internal/datacoord/server_test.go
  internal/distributed/datacoord/client/client.go
  internal/distributed/datacoord/service.go
  internal/distributed/rootcoord/client/client.go
  internal/distributed/rootcoord/service.go
  internal/distributed/rootcoord/service_test.go
  internal/msgstream/msg.go
  internal/proto/data_coord.proto
  internal/proto/datapb/data_coord.pb.go
  internal/proto/internal.proto
  internal/proto/internalpb/internal.pb.go
  internal/proto/root_coord.proto
  internal/proto/rootcoordpb/root_coord.pb.go
  internal/rootcoord/root_coord.go
  internal/rootcoord/root_coord_test.go
  internal/types/types.go
Labels: approved, ci-passed, component/datacoord, component/msgstream, component/rootcoord, lgtm, size/XXL

#6276 Update tests20 tests
  tests20/python_client/base/client_base.py
  tests20/python_client/chaos/chaos_objects/skip_chaos_etcd_podkill.yaml
  tests20/python_client/chaos/chaos_objects/skip_chaos_pulsar_podkill.yaml
  tests20/python_client/chaos/test_chaos.py
  tests20/python_client/load/README.md
  tests20/python_client/testcases/test_collection.py
  tests20/python_client/testcases/test_connection.py
  tests20/python_client/testcases/test_e2e.py
  tests20/python_client/testcases/test_index.py
  tests20/python_client/testcases/test_insert.py
  tests20/python_client/testcases/test_partition.py
  tests20/python_client/testcases/test_query.py
  tests20/python_client/testcases/test_search.py
  tests20/python_client/testcases/test_utility.py
Labels: approved, area/test, ci-passed, lgtm, sdk/python, sig/testing, size/L

#6265 Fix restart node logic
  internal/datacoord/cluster.go
Labels: approved, ci-passed, component/datacoord, lgtm, size/S

#6279 [skip ci] Update pymilvus-orm version in requirements
  tests20/python_client/requirements.txt
Labels: approved, area/test, ci-passed, lgtm, sdk/python, sig/testing, size/XS

#6282 Fix 5045, decrease the nb and nlist in unittest
  internal/core/unittest/test_index_wrapper.cpp
  internal/core/unittest/test_utils/indexbuilder_test_utils.h
Labels: approved, ci-passed, lgtm, size/S

#6284 [skip ci] Update pymilvus-orm version
  tests20/python_client/chaos/checker.py
  tests20/python_client/requirements.txt
Labels: approved, area/test, ci-passed, lgtm, sdk/python, sig/testing, size/M

#6269 fix insert to or delete from the default partition
  CHANGELOG.md
  core/src/db/wal/WalManager.cpp
  core/src/db/wal/WalManager.h
Labels: approved, lgtm, size/L

#6280 remove msgstream of segment info
  internal/core/src/pb/etcd_meta.pb.cc
  internal/core/src/pb/etcd_meta.pb.h
  internal/distributed/rootcoord/client/client.go
  internal/distributed/rootcoord/service.go
  internal/distributed/rootcoord/service_test.go
  internal/proto/etcd_meta.proto
  internal/proto/etcdpb/etcd_meta.pb.go
  internal/proto/root_coord.proto
  internal/proto/rootcoordpb/root_coord.pb.go
  internal/rootcoord/meta_table.go
  internal/rootcoord/meta_table_test.go
  internal/rootcoord/param_table.go
  internal/rootcoord/root_coord.go
  internal/rootcoord/root_coord_test.go
  internal/rootcoord/task.go
  internal/rootcoord/util.go
  internal/types/types.go
Labels: approved, ci-passed, component/rootcoord, lgtm, size/XXL

#6278 Add pytest pipeline for pymilvus-orm
  .gitignore
  build/README.md
  build/ci/jenkins/Jenkinsfile
  build/ci/jenkins/NightlyCI.groovy
  tests/docker/.env
  tests/docker/docker-compose.yml
  tests/scripts/e2e.sh
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/L

#6286 [skip ci]Update mergify with tests20
  .github/mergify.yml
Labels: approved, ci-passed, lgtm, size/S

#6285 Fix GetEntityById in the default partition
  CHANGELOG.md
  core/src/db/DBImpl.cpp
Labels: approved, size/S

#6290 start background go routine to check if all the segments have indexed
  internal/rootcoord/meta_table.go
  internal/rootcoord/root_coord.go
Labels: approved, ci-passed, component/rootcoord, lgtm, size/L

#6289 Add collectionID and partitionID into SegmentIndexInfo
  internal/core/src/pb/etcd_meta.pb.cc
  internal/core/src/pb/etcd_meta.pb.h
  internal/proto/etcd_meta.proto
  internal/proto/etcdpb/etcd_meta.pb.go
  internal/rootcoord/meta_table.go
  internal/rootcoord/meta_table_test.go
  internal/rootcoord/root_coord_test.go
  internal/rootcoord/task.go
  internal/rootcoord/util.go
Labels: approved, ci-passed, component/rootcoord, lgtm, size/XL

#6267 Enable query case: #6074
  tests/python_test/entity/test_query.py
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/XS

#6291 simplify AddIndex, remove collID,PartID from parameters
  internal/rootcoord/meta_table.go
  internal/rootcoord/meta_table_test.go
  internal/rootcoord/root_coord.go
  internal/rootcoord/task.go
Labels: approved, ci-passed, component/rootcoord, lgtm, size/M

#6298 Fix test framework issue
  tests20/python_client/base/utility_wrapper.py
  tests20/python_client/testcases/test_utility.py
Labels: approved, area/test, ci-passed, lgtm, sdk/python, sig/testing, size/M

#6308 Fix the case that KNNG is not full
  internal/core/src/index/knowhere/knowhere/index/vector_offset_index/IndexNSG_NM.cpp
Labels: approved, ci-passed, lgtm, size/XS

#6309 Adjust the log format of the test
  tests20/python_client/base/client_base.py
  tests20/python_client/common/common_type.py
  tests20/python_client/pytest.ini
  tests20/python_client/requirements.txt
  tests20/python_client/utils/api_request.py
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/S

#6305 Create default partition when receive CreateCollectionMsg
  internal/core/src/pb/etcd_meta.pb.cc
  internal/core/src/pb/etcd_meta.pb.h
  internal/proto/etcd_meta.proto
  internal/proto/etcdpb/etcd_meta.pb.go
  internal/proto/internal.proto
  internal/proto/internalpb/internal.pb.go
  internal/querynode/flow_graph_dd_node.go
  internal/rootcoord/meta_table.go
  internal/rootcoord/meta_table_test.go
  internal/rootcoord/root_coord.go
  internal/rootcoord/root_coord_test.go
  internal/rootcoord/task.go
  internal/rootcoord/util.go
Labels: approved, ci-passed, component/querynode, component/rootcoord, lgtm, size/XL

#6306 Add JAVA support plan for milvus20vs1x.md
  milvus20vs1x.md
Labels: approved, ci-passed, lgtm, size/XS

#6312 Update test cases for error check
  tests20/python_client/testcases/test_collection.py
  tests20/python_client/testcases/test_insert.py
  tests20/python_client/testcases/test_query.py
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/M

#6301 Remove sending newSegmentMsg to rootcoord
  internal/datacoord/server.go
Labels: approved, ci-passed, component/datacoord, lgtm, size/M

#6281 fix benchmark, add support for primary key in schemaHelper
  internal/core/bench/bench_search.cpp
  internal/core/unittest/test_query.cpp
  internal/core/unittest/test_sealed.cpp
  internal/core/unittest/test_utils/DataGen.h
  internal/util/typeutil/schema.go
Labels: approved, ci-passed, lgtm, size/L

#6316 Fix 6259, use more clear error message
  internal/proxy/task.go
Labels: approved, ci-passed, component/proxy, lgtm, size/XS

#6322 Disable test case for code issue
  tests20/python_client/testcases/test_partition.py
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/XS

#6310 improve getEntityById performance
  core/src/db/DBImpl.cpp
Labels: approved, lgtm, size/L

#6334 Fix compile on CentOS
  internal/core/src/index/knowhere/knowhere/index/vector_offset_index/IndexNSG_NM.cpp
Labels: approved, ci-passed, lgtm, size/XS

#6300 Refactor meta in data coord
  internal/datacoord/flush_monitor_test.go
  internal/datacoord/grpc_services.go
  internal/datacoord/meta.go
  internal/datacoord/meta_test.go
  internal/datacoord/segment_info.go
  internal/datacoord/segment_manager.go
  internal/datacoord/segment_manager_test.go
  internal/datacoord/server.go
  internal/datacoord/server_test.go
Labels: approved, ci-passed, component/datacoord, lgtm, size/XL

#6339 Update development doc for toc and e2e test
  DEVELOPMENT.md
Labels: approved, ci-passed, kind/improvement, lgtm, size/S

#6340 Improve check id logic for search test cases
  tests20/python_client/base/client_base.py
  tests20/python_client/check/func_check.py
  tests20/python_client/check/param_check.py
  tests20/python_client/common/common_func.py
  tests20/python_client/testcases/test_query.py
  tests20/python_client/testcases/test_search.py
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/L

#6335 Optimize code under storage
  docs/developer_guides/chap08_binlog.md
  internal/storage/binlog_test.go
  internal/storage/binlog_writer.go
  internal/storage/binlog_writer_test.go
  internal/storage/cwrapper/ParquetWrapper.cpp
  internal/storage/cwrapper/ParquetWrapper.h
  internal/storage/data_codec.go
  internal/storage/data_sorter.go
  internal/storage/event_data.go
  internal/storage/event_reader.go
  internal/storage/event_test.go
  internal/storage/event_writer.go
  internal/storage/event_writer_test.go
  internal/storage/payload.go
  internal/storage/payload_test.go
  internal/storage/print_binlog_test.go
Labels: approved, ci-passed, lgtm, size/XL

#6358 [skip ci]Update all-contributors
  .contributors
  .github/workflows/all-contributors.yaml
Labels: approved, ci-passed, lgtm, size/M

#6369 [skip ci]Update all-contributors
  .github/workflows/all-contributors.yaml
Labels: approved, ci-passed, kind/improvement, lgtm, size/XS

#6344 Fix query error message
  internal/proxy/impl.go
Labels: approved, ci-passed, component/proxy, lgtm, size/XS

#6373 [skip ci]Update all-contributors
  .github/workflows/all-contributors.yaml
Labels: approved, size/XS

#6324 Weaken debug message
  internal/core/bench/bench_search.cpp
  internal/core/src/exceptions/EasyAssert.cpp
Labels: approved, ci-passed, lgtm, size/S

#6346 Add unittests for getChannelName in DataNode
  internal/datanode/data_node_test.go
  internal/datanode/data_sync_service.go
  internal/datanode/flow_graph_dd_node.go
Labels: approved, ci-passed, component/datanode, lgtm, size/M

#6366 [skip ci] MEP template
  docs/design_docs/MEP-Template.md
Labels: approved, ci-passed, lgtm, size/M

#6376 Add centos builder images
  .github/workflows/publish-builder.yaml
Labels: approved, ci-passed, lgtm, size/S

#6371 Fix FPGA compile
  core/cmake/ThirdPartyPackages.cmake
  core/src/db/engine/ExecutionEngineImpl.cpp
  core/src/index/knowhere/knowhere/index/vector_index/fpga/IndexFPGAIVFPQ.cpp
  core/src/index/knowhere/knowhere/index/vector_index/fpga/IndexFPGAIVFPQ.h
  core/src/utils/CommonUtil.cpp
Labels: approved, lgtm, size/S

#6378 Diagnose to stderr any signal sent upon timeout
  .env
  build/ci/jenkins/Jenkinsfile
  build/ci/jenkins/NightlyCI.groovy
Labels: approved, ci-passed, lgtm, size/S

#6333 Fixbug: distinguish the name of the subscription based on ProxyID
  internal/proxy/paramtable.go
  internal/proxy/proxy.go
Labels: approved, ci-passed, component/proxy, lgtm, size/XS

#6372 Fixbug: remove wrong check code
  internal/indexcoord/index_coord.go
  internal/indexcoord/task.go
Labels: approved, ci-passed, component/indexcoord, kind/bug, lgtm, size/XS

#6390 Upgrade pymilvus-orm
  tests20/python_client/requirements.txt
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/XS

#6386 Add minio FGet method
  configs/milvus.yaml
  internal/kv/minio/minio_kv.go
  internal/kv/minio/minio_kv_test.go
Labels: approved, ci-passed, lgtm, size/L

#6381 Run unitest on CentOS builder container
  .devcontainer.json
  .env
  .github/workflows/publish-builder.yaml
  Makefile
  build/builder.sh
  build/docker/builder/cpu/centos7/Dockerfile
  docker-compose.yml
  scripts/devcontainer.sh
  scripts/run_cpp_unittest.sh
Labels: approved, ci-passed, lgtm, size/S

#6392 Add pytest logs
  build/ci/jenkins/Jenkinsfile
  tests20/python_client/pytest.ini
  tests20/python_client/utils/util_log.py
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/S

#6400 Update build Milvus with Docker README
  .github/workflows/publish-builder.yaml
  .github/workflows/publish-krte-images.yaml
  .github/workflows/publish-test-images.yaml
  build/README.md
Labels: approved, ci-passed, lgtm, size/XS

#6380 calc_distance typo
  internal/proxy/impl.go
  internal/util/distance/calc_distance.go
  internal/util/distance/calc_distance_test.go
Labels: approved, ci-passed, component/proxy, lgtm, size/M

#6402 Update builder image version
  .env
  build/README.md
Labels: approved, ci-passed, lgtm, size/S

#6407 [skip ci] Update DEVELOPMENT.md for compile on CentOS
  DEVELOPMENT.md
  scripts/install_deps.sh
Labels: approved, ci-passed, lgtm, size/M

#6416 Use larger dim for binary test to avoid false positive test failed
  internal/core/unittest/test_indexing.cpp
Labels: approved, ci-passed, lgtm, size/M

#6398 Remove Dead Code, use signed type
  internal/core/src/common/FieldMeta.h
  internal/core/src/common/Types.h
  internal/core/src/utils/Types.h
Labels: approved, ci-passed, lgtm, size/L

#6425 [skip ci] Turn off logs display for docker remove kind network
  build/ci/jenkins/Jenkinsfile
  build/ci/jenkins/NightlyCI.groovy
  build/kind_provisioner.sh
Labels: approved, ci-passed, lgtm, size/XS

#6409 search with exp
  internal/distributed/datacoord/client/client.go
  internal/distributed/datanode/client/client.go
  internal/distributed/indexcoord/client/client.go
  internal/distributed/indexnode/client/client.go
  internal/distributed/proxy/client/client.go
  internal/distributed/querycoord/client/client.go
  internal/distributed/querynode/client/client.go
  internal/distributed/rootcoord/client/client.go
  internal/proxy/task.go
  internal/querynode/query_collection.go
  internal/rootcoord/root_coord.go
  internal/util/sessionutil/session_util.go
  internal/util/typeutil/schema.go
Labels: approved, ci-passed, component/proxy, component/querynode, component/rootcoord, lgtm, size/L

#6404 Check if field data is empty
  internal/proxy/impl.go
  internal/proxy/task.go
  internal/querynode/query_collection.go
  tests20/python_client/testcases/test_search.py
Labels: approved, area/test, ci-passed, component/proxy, component/querynode, lgtm, sig/testing, size/L

#6356 Refactor cluster in dataservice
  internal/datacoord/cluster.go
  internal/datacoord/cluster_candidate.go
  internal/datacoord/cluster_data_manager.go
  internal/datacoord/cluster_session_manager.go
  internal/datacoord/cluster_store.go
  internal/datacoord/cluster_test.go
  internal/datacoord/datanode_helper.go
  internal/datacoord/flush_monitor.go
  internal/datacoord/flush_monitor_test.go
  internal/datacoord/grpc_services.go
  internal/datacoord/mock_test.go
  internal/datacoord/policy.go
  internal/datacoord/policy_test.go
  internal/datacoord/server.go
  internal/datacoord/server_test.go
  internal/datacoord/stream_pos.go
Labels: approved, ci-passed, component/datacoord, lgtm, size/XXL

#6431 Add test case name in test logs
  tests20/python_client/base/client_base.py
  tests20/python_client/utils/util_log.py
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/XS

#6446 Auto update builder and pytest image tag
  .github/workflows/publish-builder.yaml
  .github/workflows/publish-test-images.yaml
Labels: approved, ci-passed, lgtm, size/M

#6441 Refactor segment manager
  internal/datacoord/binlog_helper.go
  internal/datacoord/grpc_services.go
  internal/datacoord/meta.go
  internal/datacoord/meta_test.go
  internal/datacoord/segment_allocation_policy.go
  internal/datacoord/segment_info.go
  internal/datacoord/segment_manager.go
  internal/datacoord/segment_manager_test.go
  internal/datacoord/server.go
  internal/datacoord/server_test.go
Labels: approved, ci-passed, component/datacoord, lgtm, size/XL

#6448 Update github token in github actions
  .github/workflows/publish-builder.yaml
  .github/workflows/publish-test-images.yaml
Labels: approved, ci-passed, lgtm, size/XS

#6450 Fix Protected branch update failed
  .github/workflows/publish-builder.yaml
  .github/workflows/publish-test-images.yaml
Labels: approved, ci-passed, lgtm, size/S

#6452 Fix Protected branch update failed
  .github/workflows/publish-builder.yaml
  .github/workflows/publish-test-images.yaml
Labels: approved, ci-passed, lgtm, size/XS

#6453 Fix Protected branch update failed in GitHub Action
  .github/workflows/publish-builder.yaml
  .github/workflows/publish-test-images.yaml
Labels: approved, ci-passed, lgtm, size/XS

#6457 Update pytest image version
  .github/workflows/publish-builder.yaml
  .github/workflows/publish-test-images.yaml
  tests/docker/.env
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/S

#6447 masterservice -> rootcoord
  internal/rootcoord/meta_table.go
Labels: approved, ci-passed, component/rootcoord, lgtm, size/XS

#6461 [skip ci]Update bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/enhancement-request.md
  .github/ISSUE_TEMPLATE/enhancement.md
Labels: approved, lgtm, size/M

#6351 Fix load hang when restart querynode many time in short time
  internal/distributed/querynode/service.go
  internal/querycoord/cluster.go
  internal/querycoord/impl.go
  internal/querycoord/meta_test.go
  internal/querycoord/mock.go
  internal/querycoord/mock_test.go
  internal/querycoord/param_table.go
  internal/querycoord/query_coord.go
  internal/querycoord/query_coord_test.go
  internal/querycoord/querynode.go
  internal/querycoord/querynode_test.go
  internal/querycoord/task.go
  internal/querycoord/task_scheduler.go
  internal/querynode/historical.go
  internal/querynode/impl.go
  internal/querynode/index_loader.go
  internal/querynode/query_node.go
  internal/querynode/query_node_test.go
  internal/querynode/query_service.go
  internal/querynode/segment_loader.go
Labels: approved, ci-passed, component/querycoord, component/querynode, lgtm, size/XXL

#6433 [skip ci] update CN key features
  README_CN.md
Labels: approved, ci-passed, lgtm, size/XS

#6465 Handle datasorter edge cases
  internal/storage/data_sorter.go
Labels: approved, ci-passed, lgtm, size/M

#6454 Update pymilvus-orm version in test requirements
  tests/python_test/requirements.txt
  tests20/python_client/requirements.txt
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/XS

#6470 Create Pull Request for automated update image changes
  .github/workflows/publish-builder.yaml
  .github/workflows/publish-test-images.yaml
Labels: approved, ci-passed, lgtm, size/M

#6471 Fix github action step error
  .github/workflows/publish-builder.yaml
  .github/workflows/publish-test-images.yaml
Labels: approved, ci-passed, lgtm, size/XS

#6474 Fix automated update image tag bug
  .github/workflows/publish-builder.yaml
  .github/workflows/publish-test-images.yaml
Labels: approved, ci-passed, lgtm, size/XS

#6449 Fix 6421, split raw vectors to serveral smaller one
  internal/core/src/indexbuilder/IndexWrapper.cpp
  internal/core/src/indexbuilder/IndexWrapper.h
Labels: approved, ci-passed, lgtm, size/S

#6481 [skip ci] Fix update image tag bug
  .github/workflows/publish-builder.yaml
  .github/workflows/publish-test-images.yaml
Labels: approved, ci-passed, lgtm, size/S

#6439 Fix 6419, check if num_rows is greater than zero in proxy
  internal/proxy/error.go
  internal/proxy/task.go
  internal/proxy/task_test.go
  internal/proxy/test_utils.go
Labels: approved, ci-passed, component/proxy, lgtm, size/XL

#6485 Bumped milvus image verison to 2.0.0-rc.2 in deployments
  deployments/docker/cluster/docker-compose.yml
  deployments/docker/standalone/docker-compose.yml
Labels: approved, ci-passed, lgtm, size/XS

#6478 add more log for create collection
  internal/distributed/rootcoord/client/client.go
  internal/rootcoord/root_coord.go
  internal/rootcoord/task.go
  tests/python_test/collection/test_create_collection.py
Labels: approved, area/test, ci-passed, component/rootcoord, lgtm, sig/testing, size/S

#6467 Unify the usage of query and search
  internal/core/src/common/Types.h
  internal/core/src/query/CMakeLists.txt
  internal/core/src/query/Plan.cpp
  internal/core/src/query/PlanNode.h
  internal/core/src/query/PlanProto.cpp
  internal/core/src/query/SearchBruteForce.cpp
  internal/core/src/query/SearchBruteForce.h
  internal/core/src/query/SearchOnGrowing.cpp
  internal/core/src/query/SearchOnGrowing.h
  internal/core/src/query/SearchOnIndex.cpp
  internal/core/src/query/SearchOnIndex.h
  internal/core/src/query/SearchOnSealed.cpp
  internal/core/src/query/SearchOnSealed.h
  internal/core/src/query/SubSearchResult.cpp
  internal/core/src/query/SubSearchResult.h
  internal/core/src/query/generated/ExecPlanNodeVisitor.h
  internal/core/src/query/generated/VerifyPlanNodeVisitor.h
  internal/core/src/query/helper.h
  internal/core/src/query/visitors/ExecPlanNodeVisitor.cpp
  internal/core/src/query/visitors/ExtractInfoPlanNodeVisitor.cpp
  internal/core/src/query/visitors/ShowPlanNodeVisitor.cpp
  internal/core/src/query/visitors/VerifyPlanNodeVisitor.cpp
  internal/core/src/segcore/SegmentGrowing.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/SegmentInterface.cpp
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/SegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentSealedImpl.h
  internal/core/src/segcore/plan_c.cpp
  internal/core/src/segcore/plan_c.h
  internal/core/src/segcore/reduce_c.cpp
  internal/core/src/segcore/reduce_c.h
  internal/core/src/segcore/segment_c.cpp
  internal/core/src/segcore/segment_c.h
  internal/core/unittest/CMakeLists.txt
  internal/core/unittest/test_c_api.cpp
  internal/core/unittest/test_expr.cpp
  internal/core/unittest/test_indexing.cpp
  internal/core/unittest/test_query.cpp
  internal/core/unittest/test_reduce.cpp
  internal/core/unittest/test_sealed.cpp
  internal/core/unittest/test_segcore.cpp
  internal/core/unittest/test_utils/DataGen.h
  internal/querynode/historical.go
  internal/querynode/plan.go
  internal/querynode/plan_test.go
  internal/querynode/query_collection.go
  internal/querynode/reduce.go
  internal/querynode/reduce_test.go
  internal/querynode/segment.go
  internal/querynode/segment_test.go
  internal/querynode/streaming.go
Labels: approved, ci-passed, component/querynode, lgtm, size/XL

#6477 Fix bug for repeatedly create bucket in minio
  internal/kv/minio/minio_kv.go
Labels: approved, ci-passed, lgtm, size/S

#6377 Query result get global sealed segments from ETCD
  internal/querynode/historical.go
  internal/querynode/historical_test.go
  internal/querynode/query_collection.go
  internal/querynode/query_node_test.go
  internal/querynode/task.go
Labels: approved, ci-passed, component/querynode, lgtm, size/L

#6506 Change output_fields to out_fields_id for RetrieveRequest
  internal/core/src/pb/segcore.pb.cc
  internal/core/src/pb/segcore.pb.h
  internal/core/src/query/Plan.cpp
  internal/proto/internal.proto
  internal/proto/internalpb/internal.pb.go
  internal/proto/segcore.proto
  internal/proto/segcorepb/segcore.pb.go
  internal/proxy/task.go
  internal/querynode/query_collection.go
  internal/querynode/segment_test.go
Labels: approved, ci-passed, component/proxy, component/querynode, lgtm, size/XL

#6504 Add part scale test cases
  tests20/python_client/scale/constants.py
  tests20/python_client/scale/helm_env.py
  tests20/python_client/scale/test_data_node_scale.py
  tests20/python_client/scale/test_query_node_scale.py
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/L

#6328 Refactor the logic of assign tasks in IndexCoord
  internal/distributed/indexcoord/client/client.go
  internal/distributed/indexcoord/service.go
  internal/indexcoord/index_coord.go
  internal/indexcoord/meta_table.go
  internal/indexcoord/node_manager.go
  internal/indexcoord/node_mgr.go
  internal/indexcoord/priority_queue.go
  internal/indexcoord/priority_queue_test.go
  internal/indexcoord/task.go
  internal/indexnode/indexnode.go
  internal/indexnode/paramtable.go
  internal/proto/index_coord.proto
  internal/proto/indexpb/index_coord.pb.go
  internal/querycoord/impl.go
  internal/types/types.go
  internal/util/sessionutil/session_util.go
Labels: approved, area/test, ci-passed, component/indexcoord, component/indexnode, component/querycoord, lgtm, sig/testing, size/XL

#6503 Loose the limit of dimension when searching on a binary vector field
  internal/core/src/segcore/ConcurrentVector.h
Labels: approved, ci-passed, kind/enhancement, lgtm, size/XS

#6500 fix tso
  internal/allocator/global_id.go
  internal/allocator/global_id_test.go
  internal/rootcoord/root_coord.go
  internal/rootcoord/task.go
Labels: approved, ci-passed, component/rootcoord, lgtm, size/S

#6510 Support wildcard match on search/query output fields
  internal/proxy/task.go
  internal/proxy/task_test.go
Labels: approved, ci-passed, component/proxy, kind/feature, lgtm, size/L

#6516 [skip ci]Require related issue in PR
  .github/mergify.yml
Labels: approved, ci-passed, lgtm, size/S

#6522 Add unittest for BackGroundGC in DataNode
  internal/datanode/data_node_test.go
  internal/datanode/flow_graph_dd_node.go
Labels: approved, ci-passed, component/datanode, lgtm, size/M

#6525 Add README_CN.md of test
  tests20/python_client/README_CN.md
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/L

#6494 Update query_boolean_expr.md
  docs/design_docs/query_boolean_expr.md
Labels: approved, ci-passed, lgtm, size/M

#6535 Update mergify.yml for related issue
  .github/mergify.yml
Labels: approved, ci-passed, lgtm, size/S

#6542 Update mergify.yml for support linking PR to issue keywords
  .github/mergify.yml
Labels: approved, ci-passed, lgtm, size/XS

#6539 Fix a debug error in IDE
  internal/datacoord/meta.go
Labels: approved, ci-passed, component/datacoord, lgtm, size/XS

#6537 Fix flow graph unittest
  internal/util/flowgraph/flow_graph_test.go
Labels: approved, ci-passed, lgtm, size/L

#6523 Part of the fixture moved to the conftest file
  tests20/python_client/README_CN.md
  tests20/python_client/base/client_base.py
  tests20/python_client/check/func_check.py
  tests20/python_client/check/param_check.py
  tests20/python_client/common/code_mapping.py
  tests20/python_client/conftest.py
  tests20/python_client/graphs/module_call_diagram.jpg
  tests20/python_client/pytest.ini
  tests20/python_client/testcases/test_index.py
  tests20/python_client/testcases/test_query.py
  tests20/python_client/testcases/test_utility.py
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/L

#6546 Update readme file of test
  tests20/python_client/README_CN.md
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/L

#6550 Update container image changes
  .github/workflows/publish-builder.yaml
  .github/workflows/publish-test-images.yaml
Labels: approved, ci-passed, lgtm, size/XS

#6545 Fix channel lost after data node crash
  internal/datacoord/cluster.go
  internal/datacoord/cluster_store.go
  internal/datacoord/cluster_test.go
  internal/datacoord/policy.go
  internal/datacoord/policy_test.go
Labels: approved, ci-passed, component/datacoord, lgtm, size/L

#6556 Dismiss block label when automated create PR
  .github/mergify.yml
  .github/workflows/publish-builder.yaml
  .github/workflows/publish-test-images.yaml
Labels: approved, ci-passed, lgtm, size/XS

#6543 Fix bug: snapshot of timestmap statistics may stuck in an old timestamp
  internal/proxy/task_scheduler.go
Labels: approved, ci-passed, component/proxy, kind/enhancement, lgtm, size/M

#6560 [skip ci]Fix proxy figures
  docs/developer_guides/figs/figs.graffle
  docs/developer_guides/figs/proxy.png
Labels: approved, ci-passed, lgtm, size/XS

#6568 Fix watchQueryChannelTask's info can't be deleted from etcd
  internal/querycoord/cluster.go
  internal/querycoord/mock_test.go
  internal/querycoord/query_coord_test.go
  internal/querycoord/querynode.go
  internal/querycoord/querynode_test.go
  internal/querycoord/task_scheduler.go
  internal/querycoord/task_scheduler_test.go
Labels: approved, ci-passed, component/querycoord, lgtm, size/L

#6579 Dismiss block label if automated create PR
  .github/mergify.yml
Labels: approved, ci-passed, lgtm, size/S

#6565 Upload codecov report in GitHub Actions
  .github/workflows/main.yaml
  Makefile
  README.md
  README_CN.md
  internal/distributed/datacoord/datacoord_test.go
  internal/distributed/datanode/datanode_test.go
  internal/distributed/querycoord/param_table_test.go
  internal/proxy/channels_mgr_test.go
  internal/proxy/channels_time_ticker_test.go
  internal/proxy/meta_cache_test.go
Labels: approved, ci-passed, component/proxy, component/querycoord, lgtm, size/S

#6584 [skip ci]Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation-request.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: approved, lgtm, size/M

#6581 Add indexNode and queryNode scale test
  tests20/python_client/scale/helm_env.py
  tests20/python_client/scale/test_index_node_scale.py
  tests20/python_client/scale/test_query_node_scale.py
  tests20/python_client/testcases/test_insert.py
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/L

#6570 Support query return vector output field
  internal/core/src/pb/schema.pb.cc
  internal/core/src/pb/schema.pb.h
  internal/core/src/pb/segcore.pb.cc
  internal/core/src/pb/segcore.pb.h
  internal/core/src/segcore/SegmentInterface.cpp
  internal/core/src/segcore/SegmentSealedImpl.cpp
  internal/proto/schema.proto
  internal/proto/schemapb/schema.pb.go
  internal/proto/segcore.proto
  internal/proto/segcorepb/segcore.pb.go
  internal/proxy/task.go
  internal/querynode/collection_replica.go
  internal/querynode/query_collection.go
  internal/querynode/segment.go
  internal/querynode/segment_loader.go
  internal/storage/data_codec.go
  internal/storage/data_codec_test.go
  tests20/python_client/testcases/test_query.py
Labels: approved, area/test, ci-passed, component/proxy, component/querynode, lgtm, sig/testing, size/XXL

#6588 update error msg and verify issue #6287
  tests20/python_client/chaos/checker.py
  tests20/python_client/chaos/constants.py
  tests20/python_client/chaos/test_chaos.py
  tests20/python_client/pytest.ini
  tests20/python_client/requirements.txt
  tests20/python_client/testcases/test_partition.py
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/M

#6577 Fix bug: remove duplicated primary field id when retrieving entities
  internal/proxy/task.go
Labels: approved, ci-passed, component/proxy, lgtm, size/XS

#6598 update fillRetrieveResults parameter
  internal/querynode/query_collection.go
  internal/querynode/segment.go
  internal/querynode/segment_loader.go
Labels: approved, ci-passed, component/querynode, lgtm, size/L

#6600 Refactor snapshot of timestamp statistics
  internal/proxy/task_scheduler.go
Labels: approved, ci-passed, component/proxy, kind/enhancement, lgtm, size/S

#6558 Fix datacoord_test.go failed
  internal/datacoord/server.go
  internal/distributed/datacoord/datacoord_test.go
  internal/distributed/datacoord/service.go
Labels: approved, ci-passed, component/datacoord, lgtm, size/M

#6610 Add chaos tests readme and update bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/mergify.yml
  tests20/python_client/chaos/README.md
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/M

#6619 Remove timesync package
  internal/timesync/OWNERS
  internal/timesync/time_sync_producer.go
  internal/timesync/timesync.go
  internal/timesync/timesync_test.go
  internal/timesync/timetick_watcher.go
Labels: approved, ci-passed, lgtm, size/XL

#6628 Fix bug: override the compare function of SearchResultPair
  internal/core/src/segcore/ReduceStructure.h
  internal/core/src/segcore/reduce_c.cpp
  internal/core/unittest/CMakeLists.txt
  internal/core/unittest/test_reduce_c.cpp
Labels: approved, ci-passed, lgtm, size/L

#6639 [skip ci]Change all-contributors action frequency
  .github/workflows/all-contributors.yaml
Labels: approved, ci-passed, lgtm, size/XS

#6613 Add vector chunk manager
  go.mod
  go.sum
  internal/kv/minio/minio_kv.go
  internal/storage/local_chunk_manager.go
  internal/storage/minio_chunk_manager.go
  internal/storage/types.go
  internal/storage/vector_chunk_manager.go
  internal/storage/vector_chunk_manager_test.go
Labels: approved, ci-passed, lgtm, size/L

#6623 remove deprecated
  internal/core/src/segcore/SegmentGrowing.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/deprecated/IndexMeta.cpp
  internal/core/src/segcore/deprecated/IndexMeta.h
  internal/core/src/segcore/deprecated/SegmentNaive.cpp
  internal/core/src/segcore/deprecated/SegmentNaive.h
  internal/core/src/segcore/segment_c.cpp
  internal/core/src/segcore/segment_c.h
  internal/core/unittest/test_c_api.cpp
  internal/core/unittest/test_sealed.cpp
  internal/core/unittest/test_segcore.cpp
  internal/core/unittest/test_utils/DataGen.h
  internal/querynode/historical_test.go
Labels: approved, ci-passed, component/querynode, lgtm, size/XXL

#6633 Update query cases for output vector field
  tests20/python_client/check/func_check.py
  tests20/python_client/check/param_check.py
  tests20/python_client/testcases/test_query.py
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/L

#6654 Update codecov action
  .github/workflows/main.yaml
Labels: approved, ci-passed, lgtm, size/S

#6637 optimize test_c_api.cpp
  internal/core/src/segcore/collection_c.cpp
  internal/core/unittest/test_c_api.cpp
  internal/core/unittest/test_utils/DataGen.cpp
Labels: approved, ci-passed, lgtm, size/XL

#6616 Add test data and auto id (async) support for test search cases
  tests20/python_client/base/client_base.py
  tests20/python_client/check/func_check.py
  tests20/python_client/common/common_func.py
  tests20/python_client/common/common_type.py
  tests20/python_client/testcases/test_search.py
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/XXL

#6656 Fix proxy crashes when retrieve task is called
  internal/proxy/impl.go
Labels: approved, ci-passed, component/proxy, lgtm, size/XS

#6682 Remove too frequent timetick log
  internal/metrics/metrics.go
  internal/proxy/proxy.go
Labels: approved, ci-passed, component/proxy, lgtm, size/S

#6691 To specify timeout period of e2e test.
  build/ci/jenkins/Jenkinsfile
  build/ci/jenkins/NightlyCI.groovy
  tests/scripts/e2e-k8s.sh
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/M

#6671 Support search and query output fields using wildcard
  internal/proxy/task.go
  internal/proxy/task_test.go
  internal/querynode/query_collection.go
  internal/rootcoord/root_coord.go
  tests20/python_client/testcases/test_query.py
Labels: approved, area/test, ci-passed, component/proxy, component/querynode, component/rootcoord, lgtm, sig/testing, size/L

#6670 mysql ssl
  CHANGELOG.md
  core/conf/server_config.template
  core/src/config/Config.cpp
  core/src/config/Config.h
  core/src/db/Options.h
  core/src/db/meta/MySQLConnectionPool.cpp
  core/src/db/meta/MySQLConnectionPool.h
  core/src/db/meta/MySQLMetaImpl.cpp
  core/src/server/DBWrapper.cpp
  core/unittest/db/test_meta_mysql.cpp
Labels: approved, size/L

#6702 Data persistence with docker compose deployments
  deployments/docker/cluster/docker-compose.yml
  deployments/docker/standalone/docker-compose.yml
Labels: approved, ci-passed, lgtm, size/M

#6700 Show/Describe collections/partitions with created timestamp
  internal/core/src/pb/etcd_meta.pb.cc
  internal/core/src/pb/etcd_meta.pb.h
  internal/core/src/pb/milvus.pb.cc
  internal/core/src/pb/milvus.pb.h
  internal/proto/etcd_meta.proto
  internal/proto/etcdpb/etcd_meta.pb.go
  internal/proto/milvus.proto
  internal/proto/milvuspb/milvus.pb.go
  internal/proxy/task.go
  internal/rootcoord/meta_table.go
  internal/rootcoord/meta_table_test.go
  internal/rootcoord/task.go
  internal/util/tsoutil/tso.go
  internal/util/tsoutil/tso_test.go
Labels: approved, ci-passed, component/proxy, component/rootcoord, lgtm, size/XXL

#6663 Add watchWithVersion interface for etcdKV
  internal/kv/etcd/etcd_kv.go
  internal/kv/etcd/etcd_kv_test.go
Labels: approved, ci-passed, lgtm, size/M

#6597 Add log for IndexCoord and IndexNode
  internal/indexcoord/index_coord.go
  internal/indexcoord/meta_table.go
  internal/indexnode/indexnode.go
  internal/indexnode/task.go
Labels: approved, ci-passed, component/indexcoord, component/indexnode, lgtm, size/M

#6717 Bumped KinD version to v0.11.1 for CI
  .github/workflows/publish-krte-images.yaml
  build/ci/jenkins/pod/krte.yaml
  build/docker/krte/Dockerfile
  tests/scripts/e2e-k8s.sh
  tests/scripts/e2e.sh
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/M

#6715 Enable test cases after code fix
  tests/python_test/requirements.txt
  tests20/python_client/base/client_base.py
  tests20/python_client/testcases/test_search.py
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/M

#6720 Add query cases for wildcard output fields
  tests20/python_client/base/client_base.py
  tests20/python_client/common/common_func.py
  tests20/python_client/common/common_type.py
  tests20/python_client/testcases/test_insert.py
  tests20/python_client/testcases/test_query.py
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/L

#6729 [skip ci] add PyMilvus-ORM readme
  tests20/python_client/README.md
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/L

#6744 Fix img link
  tests20/python_client/README.md
  tests20/python_client/README_CN.md
Labels: approved, area/test, ci-passed, lgtm, sig/testing, size/L
